* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mineCraft;
    src: url(../assets/fonts/Minecraft.ttf);
}

html {
    font-size: 62.5%;
    font-family: mineCraft;
}

/* style the container */
.container {
    width: 80%;
    height: 100vh;
    background-color: #8dbfff;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
}

/* TODO: fix gap between tiles */
/* style each tile */
.tile {
    outline: 1px solid transparent;
    outline-offset: -1px;
}
.tile:hover {
    outline: 1px solid rgb(234, 234, 113);
}

/* center image style */
.center-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* style each tile type with different background image / color */
[data-type="sky"] {
    background: #8dbfff;
}

[data-type="cloud"] {
    background: #fff;
}

[data-type="leaf"] {
    background-image: url("../assets/img/leaf.webp");
}

[data-type="rock"] {
    background-image: url("../assets/img/rock.png");
}
[data-type="wood"] {
    background-image: url("../assets/img/wood.jpg");
}
[data-type="grass"] {
    background-image: url("../assets/img/grass.jpg");
}
[data-type="dirt"] {
    background-image: url("../assets/img/dirt.jpg");
}

/* style day and night feature */

.mode-container {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.mode {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 1.5rem;
    background-size: 60%;
}

[data-mode="day"] {
    background-image: url("../assets/img/day.png");
}

[data-mode="night"] {
    background-image: url("../assets/img/night.png");
}

/* style the tools and inventory */
.flex-container {
    display: flex;
}

.sidebar,
.tools {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 20%;
    background: black;
}

.tools {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.tool {
    border: 1px solid #fff;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    position: relative;
}

.tool::after {
    content: attr(data-toolType);
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

.tool:hover,
.inventory:hover {
    border: 1px solid yellow;
}

.inventory,
#refresh {
    border: 1px solid #fff;
    align-self: center;
    margin-top: 12rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.selected {
    border: 1px solid blue;
}

[data-toolType="axe"] {
    background-image: url("../assets/img/axe.webp");
}

[data-toolType="pickaxe"] {
    background-image: url("../assets/img/Pickaxe.webp");
}

[data-toolType="shovel"] {
    background-image: url("../assets/img/Shovel.webp");
}

#refresh {
    margin-top: 12rem;
    width: 10rem;
    height: 5rem;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fleshing-error {
    animation: blink 0.2s step-end infinite alternate;
}

@keyframes blink {
    50% {
        border-color: red;
    }
}

/* media query */

@media (max-width: 1000px) {
    .flex-container {
        flex-direction: column;
    }
    .container {
        width: 100%;
        height: 90vh;
    }
    .sidebar {
        width: 100%;
        height: 10vh;
        align-items: center;
        justify-content: center;
    }
    .sidebar,
    .tools {
        flex-direction: row;
        margin-top: 0;
    }
    .tool {
        width: 5rem;
        height: 5rem;
        align-self: center;
    }
    .inventory,
    #refresh {
        align-self: center;
        width: 3rem;
        height: 3rem;
        margin-top: 0;
        margin-left: 2rem;
    }

    #refresh {
        width: 10rem;
        font-size: 1rem;
    }

    .tool::after {
        content: "";
    }
}
