* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mineCraft;
    src: url(../assets/fonts/Minecraft.ttf);
}

html {
    font-size: 62.5%;
    font-family: mineCraft;
}

.container {
    background: url("../assets/img/landPage.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50%;
    height: 50%;
}

.btn {
    font-size: 3rem;
    border: 2px solid black;
    width: max-content;
    margin: 2rem;
    padding: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.how-to-play {
    width: 40%;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
    z-index: 10;
    display: none;
    position: absolute;
    background: #777;
    padding: 4rem;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    opacity: 0.9;
    animation: fade 1s linear;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
