* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* style the container */
.container {
    width: 80%;
    height: 100vh;
    background-color: #8dbfff;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
}

/* TODO: fix gap between tiles */
/* style each tile */
.tile {
    /* border: 0.3px solid transparent;
    overflow: hidden;
    display: block; */
}
.tile:hover {
    /* border-color: #fff; */
    /* margin: -2px; */
}

/* center image style */
.center-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* style each tile type with different background image / color */
[data-type="sky"] {
    background: #8dbfff;
}

[data-type="cloud"] {
    background: #fff;
}

[data-type="leaves"] {
    background-image: url("./assets/img/leaves.webp");
}

[data-type="rock"] {
    background-image: url("./assets/img/rock.png");
}
[data-type="wood"] {
    background-image: url("./assets/img/wood.jpg");
}
[data-type="grass"] {
    background-image: url("./assets/img/grass.jpg");
}
[data-type="dirt"] {
    background-image: url("./assets/img/dirt.jpg");
}

/* style the tools and inventory */
.flex-container {
    display: flex;
}

.sidebar,
.tools {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 20%;
    background: black;
}

.tools {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.tool {
    border: 1px solid #fff;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

.inventory {
    border: 1px solid #fff;
    align-self: center;
    margin-top: 12rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

[data-toolType="axe"] {
    background-image: url("./assets/img/axe.webp");
}

[data-toolType="pickaxe"] {
    background-image: url("./assets/img/Pickaxe.webp");
}

[data-toolType="shovel"] {
    background-image: url("./assets/img/Shovel.webp");
}
