:root {
    --fa-display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mineCraft;
    src: url(../../assets/fonts/Minecraft.ttf);
}

html {
    font-size: 62.5%;
    font-family: mineCraft;
}

/* style the container */
.container {
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
}

/* style each tile */
.tile {
    outline: 1px solid transparent;
    outline-offset: -1px;
}
.tile:hover {
    outline: 1px solid rgb(234, 234, 113);
}

/* center image style */
.center-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* style each tile type with different background image / color */

[data-type="cloud"] {
    background: #fff;
}

[data-type="leaf"] {
    background-image: url("../../assets/img/tiles/leaf.webp");
}

[data-type="rock"] {
    background-image: url("../../assets/img/tiles/rock.png");
}
[data-type="wood"] {
    background-image: url("../../assets/img/tiles/wood.jpg");
}
[data-type="grass"] {
    background-image: url("../../assets/img/tiles/grass.jpg");
}
[data-type="dirt"] {
    background-image: url("../../assets/img/tiles/dirt.jpg");
}

[data-type="water"] {
    background-image: url("../../assets/img/tiles/Water.webp");
}
[data-type="lava"] {
    background-image: url("../../assets/img/tiles/lava.webp");
}
[data-type="basalt"] {
    background-image: url("../../assets/img/tiles/basalt.png");
}

/* style day and night feature */

.mode-container {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.mode {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 1.5rem;
    background-size: 60%;
}

.night {
    background-image: url("../../assets/img/tiles/night.png");
}

[data-type="cloud"].night-tile {
    background: #777;
}

.day {
    background: #8dbfff;
}

[data-mode="day"] {
    background-image: url("../../assets/img/day-night/day.png");
}

[data-mode="night"] {
    background-image: url("../../assets/img/day-night/night.png");
}

/* style the tools and inventory */
.flex-container {
    display: flex;
}

.sidebar,
.tools {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 20%;
    background: black;
    height: 100vh;
    justify-content: space-between;
}

.tools {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.tool {
    border: 1px solid #fff;
    width: 9rem;
    height: 9rem;
    cursor: pointer;
    position: relative;
}

.tool::after {
    content: attr(data-toolType);
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
}

.tool:hover,
.inventory:hover {
    border: 1px solid yellow;
}

.inventory,
#refresh {
    border: 1px solid #fff;
    align-self: center;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.build-container {
    display: flex;
    align-self: center;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

.build-container > * {
    margin-right: 1rem;
}

.inventory {
    flex-shrink: 0;
}

.selected {
    border: 1px solid blue;
}

[data-toolType="axe"] {
    background-image: url("../../assets/img/tools/axe.webp");
}

[data-toolType="pickaxe"] {
    background-image: url("../../assets/img/tools/Pickaxe.webp");
}

[data-toolType="shovel"] {
    background-image: url("../../assets/img/tools/Shovel.webp");
}

[data-toolType="bucket"] {
    background-image: url("../../assets/img/tools/Water_Bucket.webp");
    background-size: 4rem;
}
[data-toolType="lava bucket"] {
    background-image: url("../../assets/img/tools/Lava_Bucket.webp");
    background-size: 4rem;
    display: none;
}

#refresh {
    /* margin-top: 8rem; */
    width: 10rem;
    height: 5rem;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
}

/* for tools */
.fleshing-error {
    animation: blink 0.2s step-end infinite alternate;
}

@keyframes blink {
    50% {
        border-color: red;
    }
}

/* for counter */
.error-counter {
    animation: flesh 0.2s step-end infinite alternate;
}

@keyframes flesh {
    50% {
        color: red;
    }
}
