@media (max-width: 950px) {
    .how-to-play {
        width: 60%;
        font-size: 1.5rem;
    }
    .worlds-container {
        flex-direction: column;
    }
    [data-worldType] {
        width: 16rem;
        height: 9rem;
    }
}
